<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/base :: layout(~{::section})}"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="utf-8">
</head>
<body>
<section>
<div layout:fragment="content" class="container">
    <div class="py-5 text-center">
        <h2>상품 등록</h2>
    </div>
    <form th:action method="post" enctype="multipart/form-data">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="상품명을 입력해주세요">
        </div>
        <br>
        <div>
            <label for="itemName">가격</label>
            <input type="number" id="price" name="price" class="form-control" placeholder="가격을 입력해주세요">
        </div>
        <br>
        <div>
            <label for="itemName">재고 수량</label>
            <input type="number" id="stockQuantity" name="stockQuantity" class="form-control" placeholder="재고 수량을 입력해주세요">
        </div>
        <br>
        <div>
            <label for="itemName">상품 상세 설명</label>
            <textarea id="description" name="description" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <br>
        <div>
            <label for="itemName">상품 이미지(중복 선택 가능)</label>
            <input type="file" multiple="multiple" name="imageFiles">
        </div>
        <br>
        <br>
        <div style="text-align:center">
        <button class="w-50 btn btn-primary btn-lg" th:align="center" type="submit">
            상품 등록</button>
        </div>
        <br>
        <br>

    </form>
</div> <!-- /container -->
</section>
</body>
</html>