<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout/base :: layout(~{::section})}"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="utf-8">
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            var error = [[${errorMessage}]];
            if(error != null){
                alert(error);
            }
        </script>
    </th:block>
</head>
<body>
<section>
    <div layout:fragment="content" class="container">
        <div class="py-5 text-center">
            <h2>상품 수정</h2>
        </div>

        <form th:action th:object="${itemForm}" method="post" enctype="multipart/form-data">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>

            <input type="hidden" th:field="*{itemId}">

            <div>
                <label for="name">상품명</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="상품명을 입력해주세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{name}" />
            </div>
            <br>
            <div>
                <label for="price">가격</label>
                <input type="number" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력해주세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{price}" />
            </div>
            <br>
            <div>
                <label for="stockQuantity">재고 수량</label>
                <input type="number" id="stockQuantity" th:field="*{stockQuantity}" class="form-control" placeholder="재고 수량을 입력해주세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{stockQuantity}" />
            </div>
            <br>
            <div>
                <label for="description">상품 상세 설명</label>
                <textarea id="description" th:field="*{description}" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <br>
            <br>
            <div>
                <label>상품 이미지</label>
                <div class="form-group" th:each="itemImage : ${itemForm.itemImageListDto}">
                    <div class="custom-file img-div">
                         <span th:text="${itemImage.originalName}">파일이름1.png</span>
                        <span>
                            <button th:fileId="${itemImage.id}" th:onclick="itemImgageDelete(this.getAttribute('fileId'))"
                             type="button" class="btn btn-outline-danger">삭제</button>
                        </span>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <div style="text-align:center">
                <button class="w-50 btn btn-primary btn-lg" th:align="center" type="submit">
                    상품 수정</button>
            </div>
            <br>
            <br>

        </form>
    </div> <!-- /container -->
</section>
</body>
</html>

<script>
    function itemImgageDelete(fileId){
        if (confirm("정말로 삭제하시겠습니까?")) {
            //배열생성
            const form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/item/delete');

            //파일 id
            var input1 = document.createElement('input');
            input1.setAttribute("type", "hidden");
            input1.setAttribute("name", "itemImageId");
            input1.setAttribute("value", fileId);

            //게시판 id
            const selectedElements = document.querySelector("#itemId")
            var input2 = document.createElement('input');
            input2.setAttribute("type", "hidden");
            input2.setAttribute("name", "itemId");
            input2.setAttribute("value", selectedElements.value);

            form.appendChild(input1);
            form.appendChild(input2);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>